@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #262626;
  --muted: #3f3f47;
}

@theme inline {
  --color-primary: var(--primary);
  --color-muted: var(--muted);
}

.dark {
  --primary: #fafafa;
  --muted: #d4d4d4;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-600;
}
