@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --common: #ff00009d;
  --primary: #ffffff;
  --secondary: #121212;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-base: var(--base);
}

.dark {
  --primary: #121212;
  --secondary: #ffffff;
}
