@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #262626;
  --muted: #3f3f47;
  --texttooltip: #f5f5f5;
  --bgtooltip: #030712;
}

@theme inline {
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-texttooltip: var(--texttooltip);
  --color-bgtooltip: var(--bgtooltip);
}

.dark {
  --primary: #fafafa;
  --muted: #d4d4d4;
  --texttooltip: #030712;
  --bgtooltip: #f5f5f5;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-600;
}
